### Aula 1 Come√ßando com Pandas e Python

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv')

In [4]:
df.head(5)

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [6]:
df.describe()

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [7]:
df.shape

(133349, 11)

In [8]:
linhas, colunas = df.shape[0], df.shape[1]
print(f'Numero de linhas: {linhas} | Numero de colunas: {colunas}')

Numero de linhas: 133349 | Numero de colunas: 11

In [9]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

Renomeando Colunas

In [10]:
novos_nomes = {
    'work_year': 'ano',
    'experience_level': 'senioridade',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'usd',
    'employee_residence': 'residencia',
    'remote_ratio': 'remoto',
    'company_location': 'empresa',
    'company_size': 'tamanho_empresa'
}

df.rename(columns=novos_nomes, inplace=True)

df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [11]:
df['senioridade'].value_counts()

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [12]:
df['contrato'].value_counts()

contrato
FT    132563
CT       394
PT       376
FL        16
Name: count, dtype: int64

In [ ]:
#mudando o nome da coluna nivel_de_experiencia
senioridade = {
    'SE': 'senior',
    'MI': 'pleno',
    'EN': 'junior',
    'EX': 'executivo'
}
df['senioridade'] = df['nivel_de_experiencia'].replace(senioridade)
df['senioridade'].value_counts()

In [ ]:
contrato = {
    'FT': 'integral',
    'PT': 'parcial',
    'CT': 'contrato',
    'FL': 'freelancer'
}
df['contrato'] = df['contrato'].replace(contrato)
df['contrato'].value_counts()

contrato
integral      132563
contrato         394
parcial          376
freelancer        16
Name: count, dtype: int64

In [ ]:
tamanho_empresa = {
    'L': 'grande',
    'S': 'pequena',
    'M':	'media'
}
df['tamanho_empresa'] = df['tamanho_empresa'].replace(tamanho_empresa)
df['tamanho_empresa'].value_counts()

tamanho_empresa
media      129561
grande       3574
pequena       214
Name: count, dtype: int64

In [ ]:
# mudando nome da coluna tipo_de_trabalho
horas_de_trabalho_remoto = {
    0: 'presencial',
    100: 'remoto',
    50: 'hibrido'
}

df['tipo_de_trabalho'] = df['tipo_de_trabalho'].replace(horas_de_trabalho_remoto)
df['tipo_de_trabalho'].value_counts()

In [ ]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,usd,residencia,remoto,empresa,tamanho_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

In [ ]:
df.drop('tamanho_da_empresa', axis=1, inplace=True)

In [ ]:
df.drop('horas_de_trabalho_remoto', axis=1, inplace=True)

In [ ]:
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,empresa,tamanho_empresa
count,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,95,3
top,SE,integral,Data Scientist,USD,US,US,media
freq,77241,132563,17314,126140,119579,119641,129561

### Testando e renomeando colunas

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv')
print("Dataset re-carregado. Primeiras 5 linhas:")
display(df.head())

Dataset re-carregado. Primeiras 5 linhas:

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

Aplicando novamente as renomea√ß√µes de colunas

In [ ]:
novos_nomes = {
    'work_year': 'ano',
    'experience_level': 'nivel_de_experiencia',
    'employment_type': 'contrato',
    'job_title': 'cargo',
    'salary': 'salario',
    'salary_currency': 'moeda',
    'salary_in_usd': 'salario_em_dolar',
    'employee_residence': 'residencia_do_empregado',
    'remote_ratio': 'horas_de_trabalho_remoto',
    'company_location': 'localizacao_da_empresa',
    'company_size': 'tamanho_da_empresa'
}
df.rename(columns=novos_nomes, inplace=True)
print("Colunas renomeadas. Primeiras 5 linhas:")
display(df.head())

Colunas renomeadas. Primeiras 5 linhas:

,ano,nivel_de_experiencia,contrato,cargo,salario,moeda,salario_em_dolar,residencia_do_empregado,horas_de_trabalho_remoto,localizacao_da_empresa,tamanho_da_empresa
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M

Mapeando valores categ√≥ricos

In [ ]:
senioridade_map = {
    'SE': 'senior',
    'MI': 'pleno',
    'EN': 'junior',
    'EX': 'executivo'
}
df['senioridade'] = df['nivel_de_experiencia'].replace(senioridade_map)
print("Valores de senioridade mapeados. Contagem de valores:")
display(df['senioridade'].value_counts())

Valores de senioridade mapeados. Contagem de valores:

senioridade
senior       77241
pleno        40465
junior       12443
executivo     3200
Name: count, dtype: int64

In [ ]:
contrato_map = {
    'FT': 'integral',
    'PT': 'parcial',
    'CT': 'contrato',
    'FL': 'freelancer'
}
df['contrato'] = df['contrato'].replace(contrato_map)
print("Valores de contrato mapeados. Contagem de valores:")
display(df['contrato'].value_counts())

Valores de contrato mapeados. Contagem de valores:

contrato
integral      132563
contrato         394
parcial          376
freelancer        16
Name: count, dtype: int64

In [ ]:
tamanho_empresa_map = {
    'L': 'grande',
    'S': 'pequena',
    'M': 'media'
}
df['tamanho_da_empresa'] = df['tamanho_da_empresa'].replace(tamanho_empresa_map)
print("Valores de tamanho_da_empresa mapeados. Contagem de valores:")
display(df['tamanho_da_empresa'].value_counts())

Valores de tamanho_da_empresa mapeados. Contagem de valores:

tamanho_da_empresa
media      129561
grande       3574
pequena       214
Name: count, dtype: int64

In [ ]:
tipo_de_trabalho_map = {
    0: 'presencial',
    100: 'remoto',
    50: 'hibrido'
}
df['tipo_de_trabalho'] = df['horas_de_trabalho_remoto'].replace(tipo_de_trabalho_map)
print("Valores de tipo_de_trabalho mapeados. Contagem de valores:")
display(df['tipo_de_trabalho'].value_counts())

Valores de tipo_de_trabalho mapeados. Contagem de valores:

tipo_de_trabalho
presencial    105312
remoto         27718
hibrido          319
Name: count, dtype: int64

Removendo colunas originais que foram mapeadas ou substitu√≠das

In [ ]:
df.drop(['nivel_de_experiencia', 'horas_de_trabalho_remoto'], axis=1, inplace=True)
print("Colunas desnecess√°rias removidas. Primeiras 5 linhas do DataFrame final:")
display(df.head())

In [ ]:
print("Informa√ß√µes do DataFrame atualizado:")
display(df.info())

Informa√ß√µes do DataFrame atualizado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ano                      133339 non-null  float64
 1   contrato                 133349 non-null  object
 2   cargo                    133349 non-null  object
 3   salario                  133349 non-null  int64
 4   moeda                    133349 non-null  object
 5   salario_em_dolar         133349 non-null  int64
 6   residencia_do_empregado  133349 non-null  object
 7   localizacao_da_empresa   133349 non-null  object
 8   tamanho_da_empresa       133349 non-null  object
 9   senioridade              133349 non-null  object
 10  tipo_de_trabalho         133349 non-null  object
dtypes: float64(1), int64(2), object(8)
memory usage: 11.2+ MB

None

In [ ]:
df.head()

,ano,contrato,cargo,salario,moeda,salario_em_dolar,residencia_do_empregado,localizacao_da_empresa,tamanho_da_empresa,senioridade,tipo_de_trabalho
0,2025.0,integral,Solutions Engineer,214000,USD,214000,US,US,media,senior,remoto
1,2025.0,integral,Solutions Engineer,136000,USD,136000,US,US,media,senior,remoto
2,2025.0,integral,Data Engineer,158800,USD,158800,AU,AU,media,pleno,presencial
3,2025.0,integral,Data Engineer,139200,USD,139200,AU,AU,media,pleno,presencial
4,2025.0,integral,Data Engineer,90000,USD,90000,US,US,media,junior,presencial

### Aula 2 Preparando e limpando dados

In [ ]:
df.isnull()

,ano,contrato,cargo,salario,moeda,salario_em_dolar,residencia_do_empregado,localizacao_da_empresa,tamanho_da_empresa,senioridade,tipo_de_trabalho
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
133344,False,False,False,False,False,False,False,False,False,False,False
133345,False,False,False,False,False,False,False,False,False,False,False
133346,False,False,False,False,False,False,False,False,False,False,False
133347,False,False,False,False,False,False,False,False,False,False,False
133348,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df.isnull().sum()

ano                        10
contrato                    0
cargo                       0
salario                     0
moeda                       0
salario_em_dolar            0
residencia_do_empregado     0
localizacao_da_empresa      0
tamanho_da_empresa          0
senioridade                 0
tipo_de_trabalho            0
dtype: int64

In [ ]:
df['ano'].unique()

array([2025.,   nan, 2024., 2022., 2023., 2020., 2021.])

In [ ]:
df[df.isnull().any(axis=1)]

,ano,contrato,cargo,salario,moeda,salario_em_dolar,residencia_do_empregado,localizacao_da_empresa,tamanho_da_empresa,senioridade,tipo_de_trabalho
5588,NaN,integral,Product Manager,184500,USD,184500,US,US,media,senior,presencial
59692,NaN,integral,Engineer,110000,USD,110000,DE,DE,media,pleno,presencial
59710,NaN,integral,Data Scientist,208800,USD,208800,US,US,media,junior,presencial
59759,NaN,integral,Software Engineer,135000,USD,135000,US,US,media,senior,presencial
59789,NaN,integral,Engineer,112000,USD,112000,US,US,media,senior,presencial
131000,NaN,integral,Machine Learning Engineer,163800,USD,163800,US,US,media,senior,presencial
131006,NaN,integral,Data Analytics Manager,204500,USD,204500,US,US,media,senior,presencial
133054,NaN,integral,Data Scientist,40000,USD,40000,JP,MY,grande,junior,remoto
133281,NaN,integral,Machine Learning Engineer,180000,PLN,46597,PL,PL,grande,pleno,remoto
133317,NaN,integral,Data Scientist,130000,USD,130000,US,US,grande,pleno,hibrido

1. Preenchimento com Valores Derivados (Imputation)
Para salario: Usar a mediana ou m√©dia do sal√°rio da mesma categoria, senioridade e pa√≠s.

2. Remover Linhas com Dados Faltantes
Caso a quantidade de dados nulos seja muito pequena (como neste caso, apenas 5 linhas), voc√™ pode simplesmente remov√™-las.

3. Infer√™ncia e Preenchimento com Regras de Neg√≥cio
Preencher com base em regras claras.

In [ ]:
import numpy as np

df_salarios = pd.DataFrame({
    'nome':['Ana', 'Jo√£o', 'Maria', 'Pedro', 'Lucas'],
    'salario':[4000, np.nan, 3500, np.nan, 50000]
})

#m√©dia salarial
df_salarios['salario_media'] = df_salarios['salario'].fillna(df_salarios['salario'].mean().round(2))

#mediana salarial
df_salarios['salario_mediana'] = df_salarios['salario'].fillna(df_salarios['salario'].median())

df_salarios

    nome  salario  salario_media  salario_mediana
0    Ana   4000.0        4000.00           4000.0
1   Jo√£o      NaN       19166.67           4000.0
2  Maria   3500.0        3500.00           3500.0
3  Pedro      NaN       19166.67           4000.0
4  Lucas  50000.0       50000.00          50000.0

In [ ]:
df_temperaturas = pd.DataFrame({
    'dia': ['Seg', 'Ter', 'Qua', 'Qui', 'Sex'],
    'temperatura': [30, np.nan, np.nan, 28, 27]
})

df_temperaturas['preenchido_ffill'] = df_temperaturas['temperatura'].ffill()

df_temperaturas

   dia  temperatura  preenchido_ffill
0  Seg         30.0              30.0
1  Ter          NaN              30.0
2  Qua          NaN              30.0
3  Qui         28.0              28.0
4  Sex         27.0              27.0

In [ ]:
df_temperaturas = pd.DataFrame({
    'dia': ['Seg', 'Ter', 'Qua', 'Qui', 'Sex'],
    'temperatura': [30, np.nan, np.nan, 28, 27]
})

df_temperaturas['preenchido_bfill'] = df_temperaturas['temperatura'].bfill()

df_temperaturas

   dia  temperatura  preenchido_bfill
0  Seg         30.0              30.0
1  Ter          NaN              28.0
2  Qua          NaN              28.0
3  Qui         28.0              28.0
4  Sex         27.0              27.0

In [ ]:
df_cidades = pd.DataFrame({
    'nome':['Ana', 'Jo√£o', 'Maria', 'Pedro', 'Lucas'],
    'cidade': ['S√£o Paulo', np.nan, 'Curitiba', np.nan, 'Bel√©m']
})

df_cidades['cidade_preenchida'] = df_cidades['cidade'].fillna('N√£o informado')
df_cidades

    nome     cidade cidade_preenchida
0    Ana  S√£o Paulo         S√£o Paulo
1   Jo√£o        NaN     N√£o informado
2  Maria   Curitiba          Curitiba
3  Pedro        NaN     N√£o informado
4  Lucas      Bel√©m             Bel√©m

In [ ]:
df_limpo = df.dropna()

In [ ]:
df_limpo.isnull().sum()

ano                        0
contrato                   0
cargo                      0
salario                    0
moeda                      0
salario_em_dolar           0
residencia_do_empregado    0
localizacao_da_empresa     0
tamanho_da_empresa         0
senioridade                0
tipo_de_trabalho           0
dtype: int64

In [ ]:
df_limpo.head()

,ano,contrato,cargo,salario,moeda,salario_em_dolar,residencia_do_empregado,localizacao_da_empresa,tamanho_da_empresa,senioridade,tipo_de_trabalho
0,2025.0,integral,Solutions Engineer,214000,USD,214000,US,US,media,senior,remoto
1,2025.0,integral,Solutions Engineer,136000,USD,136000,US,US,media,senior,remoto
2,2025.0,integral,Data Engineer,158800,USD,158800,AU,AU,media,pleno,presencial
3,2025.0,integral,Data Engineer,139200,USD,139200,AU,AU,media,pleno,presencial
4,2025.0,integral,Data Engineer,90000,USD,90000,US,US,media,junior,presencial

In [ ]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133339 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ano                      133339 non-null  int64
 1   contrato                 133339 non-null  object
 2   cargo                    133339 non-null  object
 3   salario                  133339 non-null  int64
 4   moeda                    133339 non-null  object
 5   salario_em_dolar         133339 non-null  int64
 6   residencia_do_empregado  133339 non-null  object
 7   localizacao_da_empresa   133339 non-null  object
 8   tamanho_da_empresa       133339 non-null  object
 9   senioridade              133339 non-null  object
 10  tipo_de_trabalho         133339 non-null  object
dtypes: int64(3), object(8)
memory usage: 12.2+ MB

In [ ]:
df_limpo = df_limpo.assign(ano = df_limpo['ano'].astype('int64'))

In [ ]:
df_limpo.head()

,ano,contrato,cargo,salario,moeda,salario_em_dolar,residencia_do_empregado,localizacao_da_empresa,tamanho_da_empresa,senioridade,tipo_de_trabalho
0,2025,integral,Solutions Engineer,214000,USD,214000,US,US,media,senior,remoto
1,2025,integral,Solutions Engineer,136000,USD,136000,US,US,media,senior,remoto
2,2025,integral,Data Engineer,158800,USD,158800,AU,AU,media,pleno,presencial
3,2025,integral,Data Engineer,139200,USD,139200,AU,AU,media,pleno,presencial
4,2025,integral,Data Engineer,90000,USD,90000,US,US,media,junior,presencial